@charset "UTF-8";
html {
  background: #f3f3f3; }

@media only screen and (min-width: 1200px) {
  body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0; }

  body {
    font: 12px "Microsoft YaHei","宋体","Arial Narrow",HELVETICA;
    -webkit-text-size-adjust: 100%; }

  a {
    color: #369;
    text-decoration: none; }

  a:hover {
    color: #a94442;
    text-decoration: underline; }

  em {
    font-style: normal; }

  li {
    list-style: none; }

  img {
    border: 0;
    vertical-align: middle; }

  table {
    border-collapse: collapse;
    border-spacing: 0; }

  p {
    word-wrap: break-word; }

  .container {
    width: 1170px;
    margin: 0 auto; }

  .header {
    display: inline-block;
    width: 100%;
    background: #FAFAFA;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 0.5rem; }
    .header:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .header {
      height: 1px; }
    .header .top_bar {
      background: #fff;
      line-height: 2.4rem;
      border-bottom: 1px solid #E4E4E4; }
      .header .top_bar .top_nav {
        text-align: right;
        width: 100%; }
        .header .top_bar .top_nav a {
          color: #333;
          font-size: 1.2em;
          margin-left: 0.5em; }
    .header a.logo {
      display: inline-block;
      width: 20%;
      float: left;
      font-size: 1em; }
    .header .search_wrap {
      display: inline-block;
      float: right;
      width: 79%;
      margin-top: 1em;
      padding: 0.3rem 1rem 0.4rem;
      box-sizing: border-box; }
      .header .search_wrap input {
        height: 3em;
        width: 40%;
        font-size: 1rem;
        color: #353535;
        border: 1px solid #E4E4E4;
        border-radius: 0.3em;
        padding: 0 1rem;
        box-sizing: border-box;
        background: #fff; }
      .header .search_wrap select {
        padding: 0 1rem;
        height: 3em;
        font-size: 1rem;
        color: #353535;
        border-radius: 0.3em;
        border: 1px solid #E4E4E4;
        background: #fff; }
        .header .search_wrap select option {
          display: inline-block;
          padding: 0.2rem 0; }
      .header .search_wrap button.submit {
        position: relative;
        left: -4rem;
        top: 0.3rem;
        font-size: 2rem;
        background: none;
        border: none;
        color: #01579B;
        cursor: pointer; }
        .header .search_wrap button.submit :hover {
          color: #a94442; }
      .header .search_wrap button.search_bt {
        position: relative;
        left: -4rem;
        top: 1px;
        padding: 0.7em 2em;
        color: #fff;
        font-size: 1rem;
        border-radius: 0.3rem;
        background: #01579B;
        font-family: "Microsoft YaHei";
        border: 1px solid #666; }
        .header .search_wrap button.search_bt:hover {
          background: #a94442; }
      .header .search_wrap .post_bt {
        padding: 0.5em 1em;
        color: #fff;
        font-size: 1rem;
        border-radius: 0.3rem;
        background: #679AC3; }
        .header .search_wrap .post_bt:hover {
          background: #a94442; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
    margin: 0 auto; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
    margin: 0 auto; } }
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    margin: 0 auto; } }
