/*common.css*/
body {
    background: #f3f3f3;
}
h1,h2,h3,h4,h5,h6,span,div,p,a {
    font-family: "Microsoft YaHei"!important;
}
.inline_block {
    display: inline-block;
}
.fixed.menu {
    background:rgba(255,255,255,0.8);
    height: 4em;
}
#user_pop {
    padding: 0!important;
}
.text_center {
    text-align: center;
}
.block {
    display: block!important;
}


.order {
    margin: 2em auto;
}
.order h2 {
    color:#1e70bf!important;
}
